body{
	margin:0px;
	padding:0px;
	}

.cf:after, .cf:before { content:""; display:table;}
.cf:after{zoom:1;}
.cf:after{ clear:both;}
a{ transition: all 0.5s ease-in-out 0s; }
p{ margin:0px; padding:0px}
*{ list-style:none;text-decoration:none; margin:0px; padding:0px;}

*, *:after, *:before
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img{ display:block;}
h1, h2, h3, h4, h5, h6{ margin:0px; padding:0px; font-weight:normal;}
:focus {outline:none;}

.top_hed{
	background:#ebebeb;
	}
.rig_an_lo{
	padding:10px 0px;
	}
.rig_an_lo h1{
	float:left;
	margin:0px;
	font-size:14px;
	font-family: 'open_sanslight';
	}

.rig_an_lo h2{
	float:left;
	margin:0px;
	font-size:14px;
	font-family: 'open_sansregular';
	}
.rig_an_lo h1 a{
	color:#479639;
	}

.rig_an_lo h1 a:hover{
	color:#292929;
	text-decoration:none;
	}

.rig_an_lo h2 a{
	color:#479639;
	}

.rig_an_lo h2 a:hover{
	color:#292929;
	text-decoration:none;
	}

.rig_an_lo span{
	float:left;
	padding:0px 3px;
	color:#9c9c9c;
	font-family: 'open_sansregular';
	font-size:16px;
	line-height:16px;
	}
.text_ti{
	background:#ff7f00;
	padding:10px 0px;
	}
.text_ti img{
	padding-left:10px;
	float:left;
	}
.text_ti p{
	font-family: 'open_sanssemibold_italic';
	margin:0px;
	float:left;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
	padding-left:10px;
	}

.right_n{

	}
.right_n .navbar-collapse{
	padding:0px;
	margin:0px;
	}
.right_n .navbar {
	 margin:0px;
	 min-height:inherit !important;
	}
.right_n .navbar-default{
	background-color:transparent !important;
	border:none !important;
	}
.right_n .navbar-default .navbar-nav > li > a{
	font-family: 'open_sansregular';
	font-size:14px;
	padding:10px 20px;
	}
.right_n .navbar-default .navbar-nav > li > a:hover{
	color:#409330;
	}
.top_logo_headr{
	padding:24px 0px;
	background: #ffffff;
	}
.mobi_box{
	/*float:right;*/
	}
.mobi_box i{

	font-size:32px;
	/*color:#555555;*/
        color: #eb8000;
	padding-right: 10px;
    padding-top: 4px;
	}
.mobi_box p{
	display: inline-flex;
    line-height: 36px;
    margin: 0;

	}
.mobi_box p a{

        font-family: 'open_sansregular';
	/*font-size:14px;*/
	/*color:#555555;*/
        font-size: 21px;
        color: #eb8000;
        font-weight: bold;

	}
.mobi_box p a:hover{
	text-decoration:none;
	}
.head_search{
	padding:4px 0px;
	position:relative;
	}
.head_search input{
	background:#409330;
	color:#fff;
	border:none;
	width:100%;
	min-height:36px;
	border-radius:20px;
	padding-left:15px;
	font-family: 'open_sanslight';
	}
.head_search button{
	border:none;
	background:none;
	position:absolute;
	right:0px;
	width:36px;
	font-size:18px;
	color:#fff;
	height:36px;
	}

.head_search input::-moz-placeholder{
	opacity:1;
	color:#fff;
	}


@media screen and (-webkit-min-device-pixel-ratio:0) {
	.head_search button{
		bottom:4px;
		}
	.head_search input::-webkit-input-placeholder{
		opacity:1;
		color:#fff;
	}
	}

.ri_pd{
	padding:4px 0px;
	}
.righ_cat_b{
	background:#409330;
	text-align:center;
	width:100%;
	padding:6px 0px;
	border-radius:20px;
	min-height:36px;
	}
.righ_cat_b i{
	color:#fff;
	display:inline-block;
	font-size:16px;
	}
.righ_cat_b p{
	color:#fff;
	font-size:14px;
	margin:0px;
	font-family: 'open_sanslight';
	display:inline-block;
	}
.header_nav_bar{
	background:#292929;
	}

.main_banner .owl-carousel .item img{
	width:100%;
	}

.catg_main{
	/*background:#eeeeee;*/
	/*padding:42px 0px;*/
         padding: 25px 0px;
	}
.main_cat_p_box{}

.catg_box_1{
	/*background-color: #ffffff;*/
        background:url("http://www.chandlersports.co.uk/wp-content/uploads/2016/06/1.png");
        border-radius: 2px;
		border:1px solid #eee;
       /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
        margin-bottom: 10px !important;
        /*padding: 30px 15px 30px 15px;*/
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	text-align:center;
	border-radius:5px;
	/*min-height:105px;*/
        min-height: 200px;
        line-height: 435px;
        background-size: 100% 100%;
        padding-top: 25px;
	background-position: center center;
}

.catg_box_2{
	/*background-color: #ffffff;*/
        background:url("http://www.chandlersports.co.uk/wp-content/uploads/2016/07/c-train.jpg");
        border-radius: 2px;
        border:1px solid #eee;
        margin-bottom: 10px !important;
        /*padding: 30px 15px 30px 15px;*/
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	text-align:center;
	border-radius:5px;
	/*min-height:105px;*/
        min-height: 200px;
        line-height: 200px;
        background-size: 100% 100%;
        padding-top: 25px;
	background-position: center center;
}

.catg_box_3{
	/*background-color: #ffffff;*/
        background:url("http://www.chandlersports.co.uk/wp-content/uploads/2016/05/pro-img-03.jpg");
        border-radius: 2px;
        border:1px solid #eee;
        margin-bottom: 10px !important;
        /*padding: 30px 15px 30px 15px;*/
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	text-align:center;
	border-radius:5px;
	/*min-height:105px;*/
        min-height: 200px;
        line-height: 200px;
        background-size: 100% 100%;
        padding-top: 25px;
	background-position: center center;
}

.catg_box_4{
	/*background-color: #ffffff;*/
        background:url("http://www.chandlersports.co.uk/wp-content/uploads/2016/07/my-1.jpg");
        border-radius: 2px;
      border:1px solid #eee;
        margin-bottom: 10px !important;
        /*padding: 30px 15px 30px 15px;*/
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	text-align:center;
	border-radius:5px;
	/*min-height:105px;*/
        min-height: 200px;
        line-height: 200px;
        background-size: 100% 100%;
        padding-top: 25px;
	background-position: center center;
}

.catg_box_5{
	/*background-color: #ffffff;*/
        background:url("http://www.chandlersports.co.uk/wp-content/uploads/2016/05/pro-img-05.jpg");
        border-radius: 2px;
       border:1px solid #eee;
        margin-bottom: 10px !important;
        /*padding: 30px 15px 30px 15px;*/
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	text-align:center;
	border-radius:5px;
	/*min-height:105px;*/
        min-height: 200px;
        line-height: 200px;
        background-size: 100% 100%;
        padding-top: 25px;
	background-position: center center;
}

.catg_box_6{
	/*background-color: #ffffff;*/
        background:url("http://www.chandlersports.co.uk/wp-content/uploads/2016/05/pro-img-06.jpg");
        border-radius: 2px;
       border:1px solid #eee;
        margin-bottom: 10px !important;
        /*padding: 30px 15px 30px 15px;*/
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	text-align:center;
	border-radius:5px;
	/*min-height:105px;*/
        min-height: 200px;
        line-height: 200px;
        background-size: 100% 100%;
        padding-top: 25px;
	background-position: center center;
}

.catg_box_7{
	/*background-color: #ffffff;*/
        background:url("http://www.chandlersports.co.uk/wp-content/uploads/2016/05/pro-img-07.jpg");
        border-radius: 2px;
       border:1px solid #eee;
        margin-bottom: 10px !important;
        /*padding: 30px 15px 30px 15px;*/
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	text-align:center;
	border-radius:5px;
	/*min-height:105px;*/
        min-height: 200px;
        line-height: 200px;
        background-size: 100% 100%;
        padding-top: 25px;
	background-position: center center;
}

.catg_box_8{
	/*background-color: #ffffff;*/
        background:url("http://www.chandlersports.co.uk/wp-content/uploads/2016/05/pro-img-08.jpg");
        border-radius: 2px;
        border:1px solid #eee;
        margin-bottom: 10px !important;
        /*padding: 30px 15px 30px 15px;*/
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	text-align:center;
	border-radius:5px;
	/*min-height:105px;*/
        min-height: 200px;
        line-height: 200px;
        background-size: 100% 100%;
        padding-top: 25px;
	background-position: center center;
}
.catg_box_9{
	/*background-color: #ffffff;*/
        background:url("http://www.chandlersports.co.uk/wp-content/uploads/2016/08/pro-img-09.jpg");
        border-radius: 2px;
        border:1px solid #eee;
        margin-bottom: 10px !important;
        /*padding: 30px 15px 30px 15px;*/
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	text-align:center;
	border-radius:5px;
	/*min-height:105px;*/
        min-height: 200px;
        line-height: 200px;
        background-size: 100% 100%;
        padding-top: 25px;
	background-position: center center;
}
.catg_box_10{
	/*background-color: #ffffff;*/
        background:url("http://www.chandlersports.co.uk/wp-content/uploads/2016/08/pro-img-10.jpg");
        border-radius: 2px;
        border:1px solid #eee;
        margin-bottom: 10px !important;
        /*padding: 30px 15px 30px 15px;*/
        transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	text-align:center;
	border-radius:5px;
	/*min-height:105px;*/
        min-height: 200px;
        line-height: 200px;
        background-size: 100% 100%;
        padding-top: 25px;
	background-position: center center;
}
.catg_box_1:hover , .catg_box_2:hover , .catg_box_3:hover , .catg_box_4:hover , .catg_box_5:hover , .catg_box_6:hover , .catg_box_7:hover , .catg_box_8:hover, .catg_box_9:hover , .catg_box_10:hover{
	/*background-color:#ff7f00;*/
	border:1px solid #ff7f00;
}

.catg_box_1:hover h2{
	/*color:#fff;*/
}

.catg_box_1 img{
	display:inline-block;
	}
.catg_box_1 h2{
	/*color:#010101;*/
	display:inline-block;
	margin:0px;
	font-family: 'open_sanssemibold';
	font-size: 20px;
	/*padding-left:15px;*/
	/*text-transform:uppercase;*/
	width: 100%;
    background:rgba(235, 128, 0, 0.77);
    padding: 8px;
	color:#fff;
}
.catg_box_1 h2:hover{

	background: RGBA(64, 147, 48, 0.75);
    color:#fff;
}

.catg_box_2 img{
	display:inline-block;
	}
.catg_box_2 h2{
	/*color:#010101;*/
	display:inline-block;
	margin:0px;
	font-family: 'open_sanssemibold';
	font-size: 14px;
	/*padding-left:15px;*/
	/*text-transform:uppercase;*/
	width: 100%;
    background:rgba(235, 128, 0, 0.77);
    padding: 8px;
	color:#fff;
}
.catg_box_2 h2:hover{

	background: RGBA(64, 147, 48, 0.75);
    color:#fff;
}



.catg_box_3 img{
	display:inline-block;
	}
.catg_box_3 h2{
	/*color:#010101;*/
	display:inline-block;
	margin:0px;
	font-family: 'open_sanssemibold';
	font-size: 14px;
	/*padding-left:15px;*/
	/*text-transform:uppercase;*/
	width: 100%;
    background:rgba(235, 128, 0, 0.77);
    padding: 8px;
	color:#fff;
}
.catg_box_3 h2:hover{

	background: RGBA(64, 147, 48, 0.75);
        color:#fff;
}

.catg_box_4 img{
	display:inline-block;
	}
.catg_box_4 h2{
	/*color:#010101;*/
	display:inline-block;
	margin:0px;
	font-family: 'open_sanssemibold';
	font-size: 14px;
	/*padding-left:15px;*/
	/*text-transform:uppercase;*/
	width: 100%;
    background:rgba(235, 128, 0, 0.77);
    padding: 8px;
	color:#fff;
}
.catg_box_4 h2:hover{

	background: RGBA(64, 147, 48, 0.75);
        color:#fff;
}

.catg_box_5 img{
	display:inline-block;
	}
.catg_box_5 h2{
	/*color:#010101;*/
	display:inline-block;
	margin:0px;
	font-family: 'open_sanssemibold';
	font-size: 13px;
	/*padding-left:15px;*/
	/*text-transform:uppercase;*/
	width: 100%;
    background:rgba(235, 128, 0, 0.77);
    padding: 8px;
	color:#fff;
}
.catg_box_5 h2:hover{

	background: RGBA(64, 147, 48, 0.75);
        color:#fff;
}


.catg_box_6 img{
	display:inline-block;
	}
.catg_box_6 h2{
	/*color:#010101;*/
	display:inline-block;
	margin:0px;
	font-family: 'open_sanssemibold';
	font-size: 14px;
	/*padding-left:15px;*/
	/*text-transform:uppercase;*/
	width: 100%;
    background:rgba(235, 128, 0, 0.77);
    padding: 8px;
	color:#fff;
}
.catg_box_6 h2:hover{

	background: RGBA(64, 147, 48, 0.75);
        color:#fff;
}


.catg_box_7 img{
	display:inline-block;
	}
.catg_box_7 h2{
	/*color:#010101;*/
	display:inline-block;
	margin:0px;
	font-family: 'open_sanssemibold';
	font-size: 14px;
	/*padding-left:15px;*/
	/*text-transform:uppercase;*/
	width: 100%;
    background:rgba(235, 128, 0, 0.77);
    padding: 8px;
	color:#fff;
}
.catg_box_7 h2:hover{

	background: RGBA(64, 147, 48, 0.75);
        color:#fff;
}
.catg_box_n h2 {font-size:14px !important;}

.catg_box_8 img{
	display:inline-block;
	}
.catg_box_8 h2{
	/*color:#010101;*/
	display:inline-block;
	margin:0px;
	font-family: 'open_sanssemibold';
	font-size:14px;
	/*padding-left:15px;*/
	/*text-transform:uppercase;*/
	width: 100%;
    background:rgba(235, 128, 0, 0.77);
    padding: 8px;
	color:#fff;
}
.catg_box_8 h2:hover{

	background: RGBA(64, 147, 48, 0.75);
        color:#fff;
}

.catg_box_9 img{
	display:inline-block;
	}
.catg_box_9 h2{
	/*color:#010101;*/
	display:inline-block;
	margin:0px;
	font-family: 'open_sanssemibold';
	font-size:14px;
	/*padding-left:15px;*/
	/*text-transform:uppercase;*/
	width: 100%;
    background:rgba(235, 128, 0, 0.77);
    padding: 8px;
	color:#fff;
}
.catg_box_9 h2:hover{

	background: RGBA(64, 147, 48, 0.75);
        color:#fff;
}

.catg_box_10 img{
	display:inline-block;
	}
.catg_box_10 h2{
	/*color:#010101;*/
	display:inline-block;
	margin:0px;
	font-family: 'open_sanssemibold';
	font-size:14px;
	/*padding-left:15px;*/
	/*text-transform:uppercase;*/
	width: 100%;
    background:rgba(235, 128, 0, 0.77);
    padding: 8px;
	color:#fff;
}
.catg_box_10 h2:hover{

	background: RGBA(64, 147, 48, 0.75);
        color:#fff;
}

.prod_box{
	padding:0px 0px;
	}
.main_prod{}

.main_prod .responsive-tabs{
	background:#429433;
	}

.main_prod .nav-tabs > li > a{
	color:#85d776;
	border-bottom:3px solid #429433 !important;
	border:none;
	}
.nav-tabs > li > a:hover{
	border:none !important;
	}

.nav-tabs > li > a{
	margin-right:0px !important;
	}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border:none !important;
	}

.main_prod .nav-tabs > li > a:hover{
	background-color:transparent !important;
	color:#fff !important;
	border-bottom:3px solid #fff !important;
	border:none;
	color:#fff !important;
	}

.main_prod .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background-color:transparent !important;
	border-bottom:3px solid #fff !important;
	border:none;
	color:#fff !important;
	}



.logo{}
.logo img{

	/*max-width:100%;*/
          /*max-width: 332px;*/

}


.pr_box_01{
    background-color: #fff;
    border-radius: 0px;
   /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    box-sizing: border-box;
    margin: 15px 0;
    overflow: hidden;
    position: relative;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    /*min-height: 485px;*/
	min-height: 426px;
    border:1px solid #eee;
	}
.pr_box_01:hover{
     border:1px solid #ff7f00;
}
.pr_box_01 img {
	width:100%;
	}
.im_br{
	/*border:2px solid #b7b7b7;*/
	border-radius:0px;
	}
.pr_tit{
	text-align:center;
	padding:0px 10px 20px 10px;
	}
.pr_tit h1{
	font-family: 'open_sanssemibold';
	font-size:18px;
	margin:0px;
	padding:15px 0px;
	text-transform:uppercase;
	color:#333333;
	}
.pr_b_left{
	/*float:left;*/
	text-align: center;
	}
.pr_b_left h2{

	/*font-family: 'open_sansregular';*/
        font-family: 'open_sanssemibold';
	/*font-size: 20px;
        color: #FF7F00;*/

        font-size: 17px;
        color: #000;

        margin: 0px;
        font-weight: bold;
        text-shadow: 0px 0px 1px RGBA(0, 0, 0, 0.41);

	}

.pr_b_right{

	float:right;

        display: none;

	}
.pr_b_right h2{
	font-family: 'open_sanssemibold';
	font-size:15px;
	color:#333333;
	margin:0px;
	text-align:right;
	}

.pr_b_right h3{
	font-family: 'open_sanssemibold';
	text-transform:uppercase;
	font-size:15px;
	color:#429433;
	margin:0px;
	padding-top:10px;
	}

.but_n{
	margin-bottom:15px;
	text-align:center;
        display:none;
	}

.add-to-cart {
    background: #FF7F00 !important;
    border-color: -moz-use-text-color -moz-use-text-color #e0e0e0 !important;
    border-radius:0px  !important;
    /*border-style: none none solid !important;*/
    /*border-width: medium medium 3px !important;*/
    color: #fff !important;
    font-family: 'open_sanssemibold';
    font-size: 12px !important;
    display:inline-block !important;
    text-transform: uppercase !important;


}

.add-to-cart:hover{
	/*background:#f62f0e !important;*/
          background:#409330 !important;
}

.add-to-cart_1 {
    background: #999999 !important;
    border-color: -moz-use-text-color -moz-use-text-color #e0e0e0 !important;
    border-radius:0px  !important;
    border-style: none none solid !important;
    border-width: medium medium 3px !important;
    color: #fff !important;
    font-family: 'open_sanssemibold';
    font-size: 12px !important;
	display:inline-block !important;
    text-transform: uppercase !important;
}
.add-to-cart_1:hover{
	background:#429433 !important;
	}


.add-to-cart i {
    margin-right: 5px;
}


.add-to-cart_1 i {
    margin-right: 5px;
}

#owl-demo-1 .item {
    border-radius: 3px;
    color: #fff;
    margin: 5px;
    padding: 0px 0;
    text-align: center;
}


#owl-demo-2 .item {
    border-radius: 3px;
    color: #fff;
    margin: 5px;
    padding: 0px 0;
    text-align: center;
}

#owl-demo-3 .item {
    border-radius: 3px;
    color: #fff;
    margin: 5px;
    padding: 0px 0;
    text-align: center;
}


#owl-demo-4 .item {
    border-radius: 3px;
    color: #fff;
    margin: 0px;
    padding: 0px 0;
    text-align: center;
}


.test_and_lin{
	/*padding:0px 0px;*/
         padding: 26px 0px;
	}

.left_box_ti{
	text-align:center;
	padding:30px 0px;
	}
.left_box_ti img{
	text-align:center;
	margin:0 auto;
	}


.was_box h1 {
    background: rgba(0, 0, 0, 0) url("../images/text_bot_line.jpg") no-repeat scroll left bottom;
    border-bottom: 1px solid #f3f3f3;
    color: rgb(255,127,0);
    font-family: 'open_sanssemibold';
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 12px;
	margin:0px;
}
.was_box span {
    font-family: 'open_sansregular';
    font-size: 20px;
    font-weight: normal;
    color:#000;
}
.test_box {
    background: #f6f6f6 none repeat scroll 0 0;
    padding: 10px 14px;
}
blockquote h5 {
    font-family: 'open_sansregular';
    font-size: 16px;
    padding-top: 20px;
	color:#7a7a7a;
	text-align:left;
}
.testimonials span {
    font-family: 'open_sanslight';
    font-size: 13px;
    font-weight: normal;
}
blockquote{
	border-left:0px !important;
	}

blockquote p:last-child {
    margin-bottom: 0;
}
.test_box p {
    background: rgba(0, 0, 0, 0) url("../images/tes_al_img.png") no-repeat scroll left top;
    color: #999999;
    font-family: 'open_sansitalic';
    font-size: 13px;
    font-style: italic;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 8px;
	text-align:left;
}
.srive_box{
	padding:15px 0px;
	}
.sriv_tit{
	}
.sriv_tit h1{
	font-size:24px;
	font-family: 'open_sansbold';
	color:#000000;
	text-align:center;
	text-transform:uppercase;
        padding-bottom:2%;
	}
.sriv_box_1{
	text-align:center;
	}
.sriv_box_1 img{
	margin:0 auto;
	text-align:center;
	}
.sriv_box_1 h2{
	font-family: 'open_sanssemibold';
	font-size:16px;
	text-transform:capitalize;
        padding-bottom:10px;
	}
.footer_up_line{
	background:#212121;
	}

.ft_line_01{
	padding:25px 0px;
	}
.ft-i{
	background:#ed5565;
	width:46px;
	height:46px;
	float:left;
	text-align:center;
	border-radius:3px;
	}
.ft-i i{
	color:#fff;
	font-size:30px;
	padding-top:7px;
	}
.ft_line_01 h1{
	font-size:16px;
	font-family: 'open_sanssemibold';
	float:left;
	line-height:23px;
	margin:0px;
	padding-left:7px;
	text-transform:uppercase;
	color:#ed5565;
	}


.ft_line_02{
	padding:25px 0px;
	}
.ft-i_2{
	background:#fc6e51;
	width:46px;
	height:46px;
	float:left;
	text-align:center;
	border-radius:3px;
	}
.ft-i_2 img{
	color:#fff;
	font-size:30px;
	text-align:center;
	margin:0 auto;
	padding-top:7px;
	}
.ft_line_02 h1{
	font-size:16px;
	font-family: 'open_sanssemibold';
	float:left;
	line-height:23px;
	margin:0px;
	padding-left:7px;
	text-transform:uppercase;
	color:#fc6e51;
	}


.ft_line_03{
	padding:25px 0px;
	}
.ft-i_3{
	background:#8cc152;
	width:46px;
	height:46px;
	float:left;
	text-align:center;
	border-radius:3px;
	}
.ft-i_3 img{
	color:#fff;
	font-size:30px;
	text-align:center;
	margin:0 auto;
	padding-top:7px;
	}
.ft_line_03 h1{
	font-size:16px;
	font-family: 'open_sanssemibold';
	float:left;
	line-height:23px;
	margin:0px;
	padding-left:7px;
	text-transform:uppercase;
	color:#8cc152;
	}


.ft_line_04{
	padding:25px 0px;
	}
.ft-i_4{
	background:#1abc9c;
	width:46px;
	height:46px;
	float:left;
	text-align:center;
	border-radius:3px;
	}
.ft-i_4 img{
	color:#fff;
	font-size:30px;
	text-align:center;
	margin:0 auto;
	padding-top:7px;
	}
.ft_line_04 h1{
	font-size:16px;
	font-family: 'open_sanssemibold';
	float:left;
	line-height:23px;
	margin:0px;
	padding-left:7px;
	text-transform:uppercase;
	color:#1abc9c;
	}

footer{
	background:#353535;
	}
.main_footer{
	padding:24px 0px;
	}
.foot_box_1{

	}
.foot_box_1 img{
	padding-bottom:10px;
	max-width:100%;
	}
.foot_box_1 p{
	color:#cccccc;
	font-size:14px;
margin-bottom:15px;
	color:#ccc;
	}

.social_icon a{
	float:left;
	margin-right:20px;
	}
.fb{
	background:url(../images/footer_soi_icon.png) no-repeat;
	width:26px;
	height:26px;
	display:block;
	}

.fb:hover{
	background:url(../images/footer_soi_icon.png) no-repeat;
	background-position:0px -26px;
	}

.gp{
	background:url(../images/footer_soi_icon.png) no-repeat;
	background-position:-26px 0px;
	width:26px;
	height:26px;
	display:block;
	}

.gp:hover{
	background:url(../images/footer_soi_icon.png) no-repeat;
	background-position:-26px -26px;
	}

.yt{
	background:url(../images/footer_soi_icon.png) no-repeat;
	background-position:-52px 0px;
	width:26px;
	height:26px;
	display:block;
	}
.yt:hover{
	background:url(../images/footer_soi_icon.png) no-repeat;
	background-position:-52px -26px;
	}
.ig{
	background:url(../images/footer_soi_icon.png) no-repeat;
	background-position:-78px 0px;
	width:26px;
	height:26px;
	display:block;
	}
.ig:hover{
	background:url(../images/footer_soi_icon.png) no-repeat;
	background-position:-78px -26px;
	}

.foot_box_2{}

.foot_box_2 h1{
	font-family: 'open_sanssemibold';
	font-size:18px;
	color:#fff;
	/*text-transform:uppercase;*/
	margin:0px;
	padding-bottom:15px;
	}

.foot_box_2 ul{
	margin:0px;
	padding:0px;
	}
.foot_box_2 ul li{
	padding:3px 0px;
	}

.foot_box_2 ul li a{
	color:#cccccc;
	font-family: 'open_sansregular';
	font-size:15px;
	}
.foot_box_2 ul li a i{
	padding-right:7px;
	}

.foot_box_2 ul li a:hover{
	text-decoration:none;
	color:#429433;
	padding-left:10px;
	}


.foot_box_3{}

.foot_box_3 h1{
	font-family: 'open_sanssemibold';
	font-size:18px;
	color:#fff;
	margin:0px;
	/*text-transform:uppercase;*/
	padding-bottom:15px;
	}
.add_b{
	padding-bottom:10px;
	}

.add_b i{
	color:#cccccc;
	font-size:18px;
	padding-top:5px;
	float:left;
	}
.add_b p{
	color:#ccc;
	font-size:14px;
	padding-left:30px;
	margin:0px;
	font-family: 'open_sansregular';
	}
.col_box{
	padding-bottom:10px;
	}
.col_box i{
	float:left;
	}

.col_box i{
	color:#ccc;
	font-size:16px;
	padding-top:5px;
	}

.col_box p{
	color:#ccc;
	font-size:14px;
	padding-left:30px;
	margin:0px;
	font-family: 'open_sansregular';
	}

.col_box p a{
	color:#ccc;
	font-family: 'open_sansregular';
	}
.col_box p a:hover{
	color:#429433;
	text-decoration:none;
	}
.mi_box{
	}

.mi_box i{
	color:#ccc;
	font-size:16px;
	padding-top:1px;
	float:left;
	}
.mi_box a{
	color:#ccc;
	padding-left:15px;
	font-size:14px;
	padding-top:2px;
	}
.mi_box a:hover{
	color:#429433;
	text-decoration:none;
	}
.footer_bot{
	border-top:1px solid #cccccc;
	padding:14px 0px;
	}
.left_fot{

	}
.left_fot p{
	color:#fff;
	text-transform:uppercase;
	margin:0px;
	font-family: 'open_sanslight';
	font-size:14px;
	padding:4px 0px;
	}
.rig_pam{
	float:right;
	}
.rig_pam img{
	width:100%;
	}





/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container_1 {
  padding: 30px;
  max-width: 400px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}


.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: "open_sansregular";
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  font-family: "open_sansregular";
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "open_sansregular";
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'open_sansregular';
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #409330;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #409330;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
  font-family: "open_sansregular";
}

.loginmodal-container_1 h2{
	margin:0px;
	font-family: "open_sansregular";
	font-size:20px;
	}

.loginmodal-container_1 .input-lg{
	font-family: "open_sansregular";
	font-size:16px;
	}

.loginmodal-container_1{
	font-family: "open_sansregular";
	}

.login-help{
  font-size: 12px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  /*background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);*/
}





.im_mai{
	display:block;
	opacity:1;
	}

.catg_box_1:hover .im_mai_h{
	display:inline-block !important;
	opacity:1;
	}
.catg_box_1:hover .im_mai{
	display:none !important;
	opacity:0;
	}

.im_mai_h{
	display:none !important;
	opacity:0;
	}


.ri_pd:hover .cart_box{
	opacity:1;
	display:inline-block;
	top:100%;
	}
.cart_box{
	opacity:0;
	display:none;
	border-bottom: 8px solid #ffffff;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    content: "";
    display: none;
    right: 0;
    position: absolute;
    top: 0px;
	z-index:1;
	background:#fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 0px;
    min-width: 300px;
    padding: 0;
	}

.cart_box ul li div{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
	}

.cart_box ul{
	margin:0px;
	padding:0px;
	}

.cart_box::before {
	border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    right: 40px;
    position: absolute;
    top: -9px;
	}

.cart_box::after {
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    right: 41px;
    position: absolute;
    top: -8px;
}

.cart_box .lnt-cart-products{
	border-bottom: 1px solid #eeeeee;
    padding: 15px 20px;
    position: relative;
	}

.cart_box .lnt-cart-products .lnt-cart-total {
    position: absolute;
    right: 15px;
    top: 15px;
}

.cart_box .lnt-cart-products img {
    border: 2px solid #ffffff;
    box-shadow: 0 0 0 2px #333333;
    height: 60px;
    left: 20px;
    position: absolute;
    top: 14px;
    width: 60px;
}

.cart_box .lnt-cart-products .lnt-product-info {
    padding-left: 75px;
}
.cart_box .lnt-cart-products .lnt-product-info .lnt-product-price {
    color: #adadad;
    display: block;
    margin-bottom: -2px;
    margin-left: 75px;
    margin-top: 2px;
}
.cart_box .lnt-cart-products .lnt-product-info .lnt-product-name {
    font-weight: bold;
}

.cart_box .lnt-cart-products .lnt-product-info .lnt-product-remove {
    color: #fb4e4e;
    font-size: 10px;
    margin-left: 67px;
    text-transform: uppercase;
}

.cart_box .lnt-cart-actions a.lnt-view-cart-btn {
    background-color: #fb4e4e;
}

.cart_box .lnt-cart-actions a {
    background-color: #507bdf;
    color: #ffffff;
    display: inline-block;
    margin: 0 -1px;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.loginmodal-container{
	position:relative;
	}

.loginmodal-container .close{
    background:#FF7F00;
    border-radius: 50%;
    color: #ffffff;
    height: 25px;
    opacity: 1;
    position: absolute;
    right:2px;
    top: 2px;
    width: 25px;
    font-size: 12px;

	}

.loginmodal-container .close:hover{
	background:#409330;
	color:#fff;
	}







/*--page-in--*/

.nobg{
	background: #fff url("../images/in_bg.jpg") repeat-x scroll center top;
	background-size:100%;
	}

.nobg .test_and_lin{
	padding:26px 0px;
	}

.section {
    padding: 30px 0;
}
.single-wrap .page-title {
    /*padding: 80px 0 10px;*/
    /*padding: 80px 0 80px;*/
    padding: 0px 0 0px;

}
.text-center {
    text-align: center;
}
.single-wrap .page-title h3 {

    /*color: #ffffff;*/
    color: #000;
    font-size: 40px;
    font-family: 'open_sansbold';
    font-weight: 600;
    padding-bottom: 10px;

}
.breadcrumb {
    background-color: inherit !important;
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 0 15px 0 0;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li::before {
    color: #cccccc;
    content: "/ ";
    padding: 0 5px;
}

.breadcrumb li a, .breadcrumb > .active {
    /*color: #ffffff;*/
    color: #000;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
}
.breadcrumb > .active {
    /*color: #777777;*/
    color:#fff;
}


.thm-image-hover .img-holder {
    overflow: hidden;
    position: relative;
	border: 1px solid #eee;
}
.thm-image-hover .img-holder:hover{
	border: 1px solid #ff7f00;
}
.single-our-service-mover .img-holder::before {
    background: #edb005 none repeat scroll 0 0;
}
.thm-image-hover .img-holder::before {
    border: 0 solid rgba(0, 0, 0, 0.7);
    bottom: 0;
    box-sizing: border-box;
    content: "";
    left: 0;
    opacity: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
}

.single-our-service-mover .img-holder img {
    transition: all 0.3s ease 0s;
}

.single-our-service-mover a h2::before {
    background: #0888c0 none repeat scroll 0 0;
}
.hvr-bounce-to-right::before {
    background: #2098d1 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}

.single-our-service-mover:hover .img-holder img {
    /*opacity: 0.45;*/
}

.thm-image-hover:hover .img-holder::before {
    /*border: 95px solid rgba(0, 0, 0, 0.7);
    opacity: 1;*/
}

.single-our-service-mover:hover .img-holder::before, .single-our-service-mover:focus .img-holder::before, .single-our-service-mover:active .img-holder::before {
    transform: scale(1);
}
.thm-image-hover .img-holder::before {
    border: 0 solid rgba(0, 0, 0, 0.7);
    bottom: 0;
    box-sizing: border-box;
    content: "";
    left: 0;
    opacity: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
}


.hvr-bounce-to-right:hover::before, .hvr-bounce-to-right:focus::before, .hvr-bounce-to-right:active::before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.single-our-service-mover a h2::before {
    background: #ff7f00;
}
.hvr-bounce-to-right::before {
    background: #ca6909;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}

.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: #ffffff;
}
.single-our-service-mover a h2 {
    background: #409330;
    color: #000000;
    display: block;
    font-family: 'open_sansregular';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 24px;
    margin: 0;
    padding: 8px 8px;
}

.single-our-service-mover a:hover{
	text-decoration:none;
	}

.hvr-bounce-to-right {
    backface-visibility: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
}


.single-our-service-mover p {
    color: #777777;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 20px;
}


.single-our-service-mover a.readmore::before {
    background: #ffbb00 none repeat scroll 0 0;
}
.hvr-bounce-to-right::before {
    background: #2098d1 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
.single-our-service-mover a.readmore {
    background: #0888c0 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 25px;
    padding: 0 23px;
    text-transform: capitalize;
}

.single-our-service-mover{
	margin-bottom:20px;
	}

.catg_main div a h2{
	 white-space: nowrap;
	 overflow: hidden;
     text-overflow: ellipsis;
	}

.tre_title{

	}
.tre_title h2{
	margin:0px;
	padding:0px;
	font-family: 'open_sansregular';
	font-size:18px;
	font-style:italic;
	}
.tre_title a{
	color:#409330;
	}
.tre_title a:hover{
	color:#000;
	text-decoration:none;
	}
.main_tre_box{}
.main_tre_box h3{
	font-family: 'open_sanssemibold';
	text-transform:uppercase;
	color:#000;
	text-decoration:underline;
	margin:0px;
	padding:15px 0px;

        font-size: 22px;

	}
.main_tre_box ul{
	margin:0px;
	padding:0px;
	}
.main_tre_box ul li{
	font-family: 'open_sanslight';
	list-style:decimal;
	margin-left:17px;
	padding-bottom:15px;
	}

.pr_b_left h3 {

    color: #bb0101;
    font-family: "open_sanssemibold";
    /*font-size: 16px;*/
    font-size:20px;
    margin: 0;
    text-align:center;
    padding-top:10px;
    text-transform:uppercase;


}

.str_box{
	display:inline-block;
	/*float:left;*/
	width:100%;
	/*text-align:left;*/
	padding-top:10px;
	text-align: center;
	}

.str_box ul li{
	font-family: 'open_sanslight';
	font-size:14px;
	}

.str_box i{
	color:#ffcb00;
	padding-right:10px;
	}

.nobg .pr_tit{
	min-height: 230px;
	}


.ab_box{

	}
.ab_box h1{
	font-size:24px;
	font-family: 'open_sansbold';
	color:#000;
	}

.ab_box p{
	font-family: 'open_sanslight';
	/*font-size:16px;*/

        font-size:15px;

	}

.ab_box h2{
	font-size:20px;
	font-family: 'open_sanssemibold';
	color:#000;
        margin-top: 20px;
        margin-bottom: 10px;
	}

.ab_box ul{}
.ab_box ul li{
	font-family: 'open_sanslight';
	font-size:16px;
	padding:5px 0px;
	list-style:disc;
	margin-left:15px;
	}

.blo_1{
	padding-bottom:20px;
	}
.blog_box{}
.bli_i{
    padding-bottom:15px;
}
.bli_i img{
	width:100%;
	}
.blog_right_d{

	}
.blog_right_d h1{
	font-family: 'open_sansbold';
	font-size:18px;
	color:#000;
	margin:0px;
	text-transform:uppercase;
	}
.blog_right_d a:hover{
	text-decoration:none;
	color:#000;
	}

.blog_right_d h3{
	font-family: 'open_sanssemibold_italic';
	font-size:14px;
	color:#333;
	padding-top:10px;
	margin:0px;
	text-transform:uppercase;
	}

.blog_right_d p{
	font-family: 'open_sanslight';
	font-size:14px;
	color:#333;
	padding-top:10px;
	margin:0px;
	text-transform:uppercase;
	}
.right_r{

	}

.right_r a{
    float:right;
    background: #4aa246 none repeat scroll 0 0;
    border-bottom: 4px solid #5d7b56;
    border-radius: 5px;
    color: #ffffff !important;
    display: inline-block;
    float: left;
    font-size: 14px;
    margin-top: 10px;
    padding: 13px 25px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom:15px;
}


.sriv_tit_final h1 {
    font-size: 21px;
    font-family: 'open_sansregular';
    color: rgb(255,127,0);
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
}

.set-all-footer-topall ul li{

    font-size: 17px;
   list-style-image: url("../images/reasons-to-shop-tick.png");
   font-family: 'open_sansregular';
}


.blog_right_d h1 a{
   color: rgb(235, 128, 0);
}
.eq h1{
   background: rgba(0, 0, 0, 0) url("../images/text_bot_line.jpg") no-repeat scroll left bottom;
border-bottom: 1px solid #f3f3f3;
color: rgb(255,127,0);
font-family: 'open_sanssemibold';
font-size: 20px;
font-weight: bold;
padding-bottom: 12px;
margin: 0px;
text-align: left;
margin-bottom:10px;
}
.eq span{
    font-family: 'open_sansregular';
font-size: 20px;
font-weight: normal;
color: #000;
}
.ab h1{
   text-align:left;
   margin-bottom:10px;
}
.ab p{
  font-family: "open_sansregular";
  font-size: 16px;
  padding-top:10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
margin-bottom: 10px !important;
padding: 30px 15px;
transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
border-radius: 5px;
background: rgb(245,245,245);
min-height: 250px;
}
.set-all-footer-topall{
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
margin-bottom: 10px !important;
padding: 30px 15px;
transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
border-radius: 5px;
background: rgb(245, 245, 245) none repeat scroll 0% 0%;
min-height: 250px;
}

.link-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transform: translate3d(-101%, 0, 0);
    transform: translate3d(-101%, 0, 0);
    -moz-transform: translate3d(-101%, 0, 0);
    -o-transform: translate3d(-101%, 0, 0);
    -ms-transform: translate3d(-101%, 0, 0);
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
}
.link-btn span:nth-child(2n+1), .link-btn:hover span:nth-child(2n) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
}
.link-btn span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -o-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -moz-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -moz-transition: -moz-transform 0.5s, color 0.5s;
    -o-transition: -o-transform 0.5s, color 0.5s;
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s;
}
.link-btn span:nth-child(2n), .link-btn:hover span:nth-child(2n+1) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
}
.link-btn, .link-btn:visited {
    background: #fe9600;
    color: #4a1d44;
    display: table;

    margin: 0 auto;
    padding: 7px 25px;
    text-align: center;
}
.link-btn:hover span {
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
    -moz-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
    -o-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
}
.saleup{

top: 2px;
left: 185px;
position: absolute;
display: inline-block;
color: rgb(255, 255, 255);
border: medium none !important;
background: rgba(255, 127, 0, 0.83) none repeat scroll 0% 0% !important;
}
.saleup a{
     background:#bb0101 !important;
}
